body {
    margin: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 48px;
    top: 40px;
}

.logo {
    width: 110px;
    height: 41px;
}

.navbar {
    position: relative;
    left: 41%;
    bottom: 6px;
    width: 630px;
    height: 48px;
}

.menu {
    display: flex;
}

.menu__item {
    list-style-type: none;
}

.menu__link {
    padding-right: 36px;
    font: 400 18px/29px Poppins, helvetica, sans-serif;
    color: #4b321D;
    text-decoration: none;
}

.hero {
    position: relative;
    left: 2px;
    top: 85px;
    height: 200px;
}

.hero__title {
    font: 400 80px/100px Poppins, helvetica, sans-serif;
}

.hero-image {
    position: relative;
    right: 40px;
    top: 222px;
    height: 928px;
}

.main-content {
    position: relative;
    top: 197px;
    height: 300px;
}

.main-content__title {
    font: 400 80px/100px Poppins, helvetica, sans-serif;
}

.main-content__link {
    position: absolute;
    padding: 11px 17px 10px 17px;
    width: 126px;
    height: 29px;
    bottom: -10px;
    font: 400 20px/29px Poppins, helvetica, sans-serif;
    text-decoration: none;
    border: 2px solid #4b321D;
    border-radius: 3px;
    color: #4b321D;
}

.main-about {
    position: relative;
    height: 885.59px;
    top: 292px;
}

.main-about__block {
    position: relative;
    top: 265px;
    right: 2px;
    float: right;
    width: 630px;
    height: 296px;
}

.main-about__title {
    font: 400 38px/44px Poppins, helvetica, sans-serif;
}

.main-about__link {
    position: absolute;
    padding: 11px 17px 10px 17px;
    bottom: 2px;
    font: 400 20px/29px Poppins, helvetica, sans-serif;
    text-decoration: none;
    border: 2px solid #4b321D;
    border-radius: 3px;
    color: #4b321D;
}

.email {
    position: relative;
    height: 1024.59px;
    top: 140px;
}

.email__block {
    position: relative;
    width: 630px;
    height: 178px;
    top: 52%;
}

.email__title {
    font: 400 38px/44px Poppins, helvetica, sans-serif;
}

.email__link {
    position: relative;
    bottom: 10px;
    right: 3px;
    padding: 11px 17px 10px 17px;
    font: 400 20px/29px Poppins, helvetica, sans-serif;
    text-decoration: none;
    border: 2px solid #4b321D;
    border-radius: 3px;
    color: #4b321D;
}

.email__image {
    position: relative;
    float: right;
}

.content {
    position: relative;
    height: 476px;
    top: 165px;
    background: #4b321D;
    border-radius: 16px;
}

.content__text {
    position: relative;
    height: 276px;
    top: 90px;
}

.content__title {
    position: relative;
    right: -20px;
    font: 400 80px/100px Poppins, helvetica, sans-serif;
    color: #f1f1eb;
}

.content__subtitle {
    position: relative;
    left: 20px;
    bottom: 66px;
    font: 400 26px/36px Poppins, helvetica, sans-serif;
    color: #f1f1eb;
}

.question {
    position: relative;
    height: 380px;
    top: 65px;
}

.question__text {
    position: relative;
    top: 90px;
    height: 200px;
}

.question__title {
    position: relative;
    bottom: 11px;
    font: 400 80px/100px Poppins, helvetica, sans-serif;
}

.question__link {
    position: relative;
    bottom: 49px;
    padding: 11px 17px 10px 17px;
    font: 400 20px/28.8px Poppins, helvetica, sans-serif;
    text-decoration: none;
    border: 2px solid #4b321D;
    border-radius: 3px;
    color: #4b321D;
}

.footer {
    position: relative;
    height: 396px;
}

.footer__content {
    position: relative;
    top: 142.55px;
    width: 1320px;
    height: 196px;
}

.footer__left {
    width: 192px;
    height: 196px;
}

.footer__left-one {
    font: 400 18px/28.8px Poppins, helvetica, sans-serif;
}

.footer__left-two {
    position: relative;
    bottom: 20px;
    font: 400 18px/28.8px Poppins, helvetica, sans-serif;
}

.footer__left-image {
    position: relative;
    top: 44px;
}

.footer__right {
    position: relative;
    display: flex;
    bottom: 210px;
    float: right;
    width: 620px;
    height: 196px;
}

.footer__right-one,
.footer__right-two,
.footer__social {
    display: grid;
}

.footer__right-one {
    width: 101px;
}

.footer__right-one-link {
    position: relative;
    top: 7px;
    text-decoration: none;
    font: 400 18px/28.8px Poppins, helvetica, sans-serif;
}

.footer__right-two {
    position: relative;
    top: 9px;
    left: 177px;
    margin-bottom: 25px;
    width: 69px;
}

.footer__right-two-link,
.footer__social-link {
    position: relative;
    text-decoration: none;
    font: 400 17px/28.8px Poppins, helvetica, sans-serif;
}

.footer__social {
    position: relative;
    top: 13px;
    left: 58%;
    margin-bottom: 115px;
    width: 93px;
}